/* TODO: add your style rules here 
You may not change the HTML file.
Make the page match the provided screenshots
by adding style rules to this file only.
*/

/* Tells browser to include borders and padding in their box sizing */
* {
    box-sizing: border-box;
}

/* Setting body font family and line height */
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
                  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}

/* Set no top margins for all paragraphs */
p {
    margin-top: 0;
}

/* Setting new font for h1 - h4
   Set font weight for all headings
   Set line height for all headings
   Set margins on top and bottom for all headings */
/* ONLY H1 and H2 exist in html */
h1,
h2,
h3,
h4 {
    font-family: "Encode Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
           sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 200;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* Set max width for all container elements
   Set all containers to be horizontally centered if screen is wider than the elements */
/* CHECK TO SEE IF SETTING MARGIN AUTO OKAY OR NEED TO SPECIFY ONLY WHEN SCREEN IS LARGER THAN 1140 */
.container {
    max-width: 1140px;
    margin: auto;
}

header {
    background-color: #e9ecef;
}
header h1 {
    font-size: 5rem;
    color: #28a745;
}

.button {
    visibility: hidden;
}

.feature-icon {
    fill: #28a745;
}

#features .container {
    display: flex;
    flex-wrap: wrap;
}

#features .feature {
    flex: 1 0 100%
}

#uses {
    background-color: #f8f9fa;
}

#uses img {
    width: 100%;
}

#uses .container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
}

#uses .card {
    border-radius: 0.25rem;
    border: rgba(0, 0, 0, 0.125);
}

#testimonials img {
    border-radius: 50%;
}

#testimonials .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial {
    flex: 1 0 100%;
    justify-content: center;
}

.occupation {
    font-size: 80%;
    color: #808080;
}

@media (min-width: 768px) {
    header {
        height: 400px;
        background-image: url(../img/header.jpg);
        background-size: cover;
        background-position: center;
    }

    header h1 {
        font-size: 7rem;
    }

    header h1,
    header .lead {
        display: flex;
        justify-content: flex-end;
    }


    .button {
        background-color: #28a745;
        float: right;
        border-radius: 0.25rem;
        visibility: visible;
    }

    .button:focus,
    .button:hover {
        background-color: #1e7e34;
    }
    
    .button:link,
    .button:visited {
        text-decoration: none;
        color: #FFFFFF;
    }

    #uses .use {
        flex: 1 0 50%;
    }
}

@media (min-width: 992px) {
    #features .container .feature {
        flex: 1 0 33%;
    }

    #uses .use {
        flex: 1 0 25%;
    }

    #testimonials .testimonial {
        flex: 1 0 50%;
    }
}
