/* define any style rules you need here */
* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#stats {
    display: flex;
    flex: 1 0 25%;
    justify-content: space-between;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;
    justify-content: space-around;
    padding: 0 0;
}

#tiles button {
    background-color: black;
    margin-bottom: 10px;
}

#tiles button img {
    max-width: 225px;
    max-height: 225px;
}