* {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../img/header1.jpg");
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

.list-group {
    max-width: 15vw;
}

.container {
    justify-content: center;
    max-width: 98vw;
    margin: 0 auto;
}