* {
    box-sizing: border-box;
}

#messageBox {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin: 0;
}

.imgContainer {
    flex: 0 0 5%;
    padding-right: 10px;
}

.wordContent {
    flex: 10 0 auto;
}

