* {
    box-sizing: border-box;
}

.message-contents {

}

#message-header {
    display: flex;
}

#message-header img {
    padding-right: 10px;
}

#edit-buttons {
    padding: 0px;
}

.btn-danger,
.btn-warning {
    margin-right: 10px;
}

#timestamp {
    font-size: 0.8rem;
    color: grey;
}

#username {
    font-weight: bold;
}
