$green-color: #28a745;

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
                sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;

  p {
    margin-top: 0;
  }

  .container {
    max-width: 1140px;
    margin: auto;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Encode Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

header {
  background-color: #e9ecef;

  h1 {
    font-size: 5rem;
    color: $green-color;
  }

  .container {
    padding: 25px 40px;
  }

  .button {
    display: none;
  }
}

#features {
  .feature-icon {
    fill: $green-color;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .feature {
    display: flex;
    padding: 10px 10px;
  }

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  .feature-body {
    padding-left: 25px;
    padding-right: 15px;
    font-weight: 600;
  }
}

#uses {
  background-color: #f8f9fa;

  img {
    width: 100%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%
  }

  .use {
    display: flex;
    padding: 35px 10px 40px;
  }

  .card {
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    overflow: hidden;
  }

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-weight: 600;
  }

  .card-body {
    padding: 20px 20px;
  }
}

#testimonials {
  img {
    border-radius: 50%;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .container {
    padding: 50px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .occupation {
    font-size: 80%;
    color: #808080;
  }
}

footer {
  background-color: $green-color;
  color: #e9ecef;

  .container {
    padding: 50px 25px;
  }

  .contact-icons {
    a {
      fill: #e9ecef;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: #FFFFFF;
  }

  a:focus,
  a:hover {
    color: #bdc6d0;
    fill: #bdc6d0;
  }

  .footer-content {
    text-align: left;
  }
}

@media (min-width: 768px) {
  header {
    height: 400px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;

    h1 {
      font-size: 7rem;
    }

    h1,
    .lead {
      display: flex;
      justify-content: flex-end;
    }

    .lead {
      padding-left: 50%;
      text-align: right;
    }

    .button {
      display: block;
      background-color: #28a745;
      float: right;
      border-radius: 0.25rem;
      visibility: visible;
      padding: 5px 15px;
    }

    .button:focus,
    .button:hover {
      background-color: #1e7e34;
    }
  }

  #uses {
    .use {
      flex: 1 0 50%;
    }
  }

  footer {
    .contact-icons {
      justify-content: flex-end;
    }

    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 992px) {
  #features {
    .feature {
      flex: 1 0 33%;
    }
  }

  #uses {
    .use {
      flex: 1 0 25%;
    }
  }

  #testimonials {
    .testimonial {
      flex: 1 0 50%;
      padding: 50px 15px;
    }
  }
}